header{
    background-color: rgb(11, 144, 253);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.aside-menu-bars{
    display: flex;
    flex: 10 1 auto;
    align-items: center;
    flex-flow: nowrap;
}

.navbar-user{
    flex: 1 1 auto;
}
.fa-bars{
    font-size: 25px;
    padding: 5px 5px;
}
.navbar-menu{
    margin: 0;
    color: black;
}
.btn-menu{
    border: none;
    background-color: rgb(11, 144, 253);
}
.navbar-menu i{
    font-size: 25px;
}

.menu-items-show,.menu-items-hide{
    list-style: none;
}
.menu-items-show{
    background-color: rgba(255, 255, 255,1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: fixed;
    height:100%;
    width: 15%;
    padding: 10px 15px;
}
.menu-items-show li{
    cursor: pointer;
    padding: 10px 15px;

}

.menu-items-hide li{
    padding: 10px 0px 20px 0px;
}
.background-menu{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.navbar-menu{
    position: fixed;
    z-index: 1;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 300ms;
}

.navbar-menu-show{
    left: 0;
}
