.father{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .2fr 1fr;
    grid-template-areas: "header header" "main main" "footer footer";
}

app-header{
    grid-area: header;
}

app-footer{
    grid-area: footer;
}

main{
    grid-area: main;
    margin-top: 5%;
}
app-menu{
    grid-area: navbar;
}
