<div class="father">
  <app-header></app-header>

    <!-- <app-menu></app-menu>
  {{asyncObservable | async}} -->
  <main>
    <router-outlet></router-outlet>
    <!-- pipes
    <h1>{{'texto q necesita pipe' | conversor}}</h1>
    <p>
      {{valuetocheck | conversor2:"entregado" : "no entregado"}}
    </p>

    <p>
      {{'valor a cambiar' | conversor3:"curso" }}
    </p>
    <p>
      {{3000 | conversor4:"euro" }}
    </p>
    <p>
      {{3000 | conversor4:"dolar" }}
    </p>
    <p>
      resaltado <span appHighlight>aca</span>
    </p>

    <div *appRepetir="7">
      <p>repetir</p>
    </div> -->
  </main>

  <app-footer></app-footer>
</div>
