
<div class="load" *ngIf="!load">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="content-table">
    <div class="title-header">
        <h1 appTitle>Course Management</h1>
    </div>

    <mat-tab-group mat-align-tabs="start" color="primary" *ngIf="course && !courseSelect">
        <mat-tab label="Courses">
            <table class="table table-hover table-bordered">
                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Course</th>
                        <th scope="col">Teachers</th>
                        <th scope="col">Details</th>
                        <th *ngIf="auth.hasRole('ROLE_ADMIN')" scope="col">Edit</th>
                        <th *ngIf="auth.hasRole('ROLE_ADMIN')" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of course">
                        <th scope="row">{{a.id}}</th>
                        <td>{{a.course}}</td>
                        <td><span *ngFor="let t of a.teachers">{{t.name}} {{t.surname}} </span></td>
                        <td><button class="btn btn-primary" (click)="submitModalTable(a)">View</button></td>
                        <td *ngIf="auth.hasRole('ROLE_ADMIN')"><button class="btn btn-warning" (click)="selectEditCourse(a)">Edit</button>
                        </td> <!-- abrir un modal con un formulario y editar esos campos -->
                        <td *ngIf="auth.hasRole('ROLE_ADMIN')"><button class="btn btn-danger" (click)="deleteCourse(a.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <!-- <mat-progress-bar mode="indeterminate" *ngIf="course.length==0"></mat-progress-bar> -->
        </mat-tab>

        <mat-tab label="Add Courses" *ngIf="auth.hasRole('ROLE_ADMIN')">
            <app-form-curso (addCourse)="addNewCourse($event)"></app-form-curso>
        </mat-tab>
    </mat-tab-group>

    <!-- <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner> -->
    <!-- <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar> -->

    <mat-tab-group mat-align-tabs="start" color="accent" *ngIf="courseSelect && auth.hasRole('ROLE_ADMIN')">
        <mat-tab label="Edit">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Course</th>
                        <th scope="col">Teachers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{courseSelect.id}}</th>
                        <td>{{courseSelect.course}}</td>
                        <td><span *ngFor="let t of courseSelect.teachers">{{t.name}} {{t.surname}} </span></td>
                    </tr>
                </tbody>
            </table>
            <app-form-curso (editCourse)="editCourse($event)" [valueForm]="courseSelect"></app-form-curso>
            <button mat-raised-button color="warn" (click)="exitEdit()">Exit</button>
        </mat-tab>

        <mat-tab label="Courses">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Course</th>
                        <th scope="col">Teachers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of course">
                        <th scope="row">{{a.id}}</th>
                        <td>{{a.course}}</td>
                        <td><span *ngFor="let t of a.teachers">{{t.name}} {{t.surname}} </span></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
    <!-- <mat-spinner  *ngIf="course.length==0"></mat-spinner> -->
</div>