<div class="content-table">
    <div class="title-header">
        <h1 appTitle>Table</h1>
    </div>
    <mat-tab-group mat-align-tabs="start" *ngIf="student">
        <mat-tab label="Students">
            <table class="table table-hover table-bordered" >
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Details</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of student"
                        ngClass="{{(a.aprobado != null ? (a.aprobado == true ? 'aprobado' : 'desaprobado') : null)}}">
                        <th scope="row">{{a.id}}</th>
                        <td>Foto</td>
                        <td>{{a.name}}</td>
                        <td>{{a.surname}}</td>
                        <td>{{a.email}}</td>
                        <td><button class="btn btn-primary" (click)="submitModalStudent(a.id)">View</button></td>
                        <td><button class="btn btn-danger" (click)="deleteCourseStudent(course,a)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Add Students">
            <app-form-student  (addStudent)="addNewStudent($event)" [courses]="course"></app-form-student>
        </mat-tab>
      </mat-tab-group>
    
    <mat-tab-group mat-align-tabs="start" *ngIf="course" color="accent">
        <!-- esta tabla seria detalles solamente del curso. -->
        <mat-tab label="Courses">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Course</th>
                        <th scope="col">Teachers</th>
                        <!-- <th scope="col">Details</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{course.id}}</th>
                        <td>{{course.course}}</td>
                        <td><span *ngFor="let t of course.teachers">{{t.name}} {{t.surname}} </span></td>
                        <!-- <td><button class="btn btn-primary" (click)="submitModalTable(course)">View</button></td> -->
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <!-- <mat-tab label="Add Courses">
            <button class="" (click)="addNewCourse()">send</button>
        </mat-tab> -->
    </mat-tab-group>
    
</div>

  