
<div class="load" *ngIf="!load">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="content-table">

    <div class="title-header">
        <h1 appTitle>Table</h1>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Students">
            <table class="table table-hover table-bordered" >
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col" *ngIf="auth.isAuthenticated()">Details</th>
                        <th scope="col" *ngIf="auth.hasRole('ADMIN_ROLE')">Delete</th>
                    </tr>
                </thead>
                <tbody *ngIf="student">
                    <tr *ngFor="let a of student">
                        <th scope="row">{{a.id}}</th>
                        <td>Foto</td>
                        <td>{{a.name}}</td>
                        <td>{{a.surname}}</td>
                        <td>{{a.email}}</td>
                        <td *ngIf="auth.isAuthenticated()"><button class="btn btn-primary" (click)="submitModalStudent(a.id)">View</button></td>
                        <td *ngIf="auth.hasRole('ADMIN_ROLE')"><button class="btn btn-danger" (click)="deleteCourseStudent(course,a)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Add Students" *ngIf="auth.hasRole('ADMIN_ROLE')">
            <app-form-student (addStudent)="addNewStudent($event)" [courses]="courses"></app-form-student>
        </mat-tab>
      </mat-tab-group>
    
    <mat-tab-group mat-align-tabs="start" color="accent">
        <!-- esta tabla seria detalles solamente del curso. -->
        <mat-tab label="Courses">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Course</th>
                        <th scope="col">Teachers</th>
                        <!-- <th scope="col">Details</th> -->
                    </tr>
                </thead>
                <tbody *ngIf="course">
                    <tr>
                        <th scope="row">{{course.id}}</th>
                        <td>{{course.course}}</td>
                        <td><span *ngFor="let t of course.teachers">{{t.name}} {{t.surname}} </span></td>
                        <!-- <td><button class="btn btn-primary" (click)="submitModalTable(course)">View</button></td> -->
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <!-- <mat-tab label="Add Courses">
            <button class="" (click)="addNewCourse()">send</button>
        </mat-tab> -->
    </mat-tab-group>
    
</div>