<div class="content-form">
    <div>
        <h1 appTitle>Form Student</h1>
    </div>

    <div *ngIf="courses && courses.length>0">
        <form [formGroup]="formAlumno" (ngSubmit)="submit()">

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="formAlumno.invalid">{{getErrorMessage(formAlumno.controls['name'])}}</mat-error>

                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname">
                    <mat-error *ngIf="formAlumno.invalid">{{getErrorMessage(formAlumno.controls['surname'])}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="formAlumno.invalid">{{getErrorMessage(formAlumno.controls['email'])}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" *ngIf="!readOnly">
                    <mat-label>Course</mat-label>

                    <mat-select formControlName="courses">
                        <mat-option *ngFor="let c of courses" value="{{c.id}}">{{c.course}}</mat-option>
                    </mat-select>

                    <!-- <mat-select  formControlName="courses" *ngIf="!isArray">
                        <mat-option value="{{courses.id}}">{{courses.course}}</mat-option>
                    </mat-select> -->
                    <mat-error *ngIf="formAlumno.invalid">{{getErrorMessage(formAlumno.controls['courses'])}}
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <mat-spinner *ngIf="!courses"></mat-spinner>
</div>